.container{
    /*width: 85%;*/
    min-width: 110px;
    width: 90%;
    max-width: 1750px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 58% 42%;
    min-height: 3078px;
}

.container-1 {
    display: grid;
    grid-template-rows: 5% 95%;
}

.container-2 {
    background-color: white;
    display: grid;
    grid-template-rows: 90% 10%;
    padding-top: 2%;
}

/*@media (max-width: 1250px) {
    .container {
      width: 1050px;
    }

    .container-2 {

    }
  }

  @media (max-width: 1150px) {
    .container {
        width: 1000px;
    }
    
  }



  @media (max-width: 1150px) {
    .container {
        width: 990px;
    }
    
  }*/



@media (max-width: 1700) {
  .container-2 a {
    font-size: 1.4rem;
  }
}  
@media(max-width: 1650px) {
  .container {
    min-height: 2113px;
  }
}

@media(max-width: 1650px) {
  .container {
    min-height: 2025px;
  }
}

@media (max-width: 1400px) {
  .container {
    min-height: 1850px;
  }

  .container-2 {
    padding-top: 7%;
  }
}

  @media (max-width: 1250px) {
    
    .container {
      min-height: 1550px;;
    }

    .container-2 {
      padding-top: 4%;
    }
  }

  @media (max-width: 1024px) {
    .container {
        width: 95%;
        min-width: 800px;
        min-height: 1270px;

    }


    .container-2 {
      padding-top: 6%;
    }

  }

  @media (max-width: 850px) {
    .container {
      min-width: 600px;
    }
  }


  @media (max-width:768px) {
    .container {
        min-width: 550px;
        min-height: 2670px;
    }

    .container-2 {
      padding-top: 0;
      margin-top: -10%;
    }
  }


  @media (max-width: 600px) {
    .container {
      min-width: 300px;
    }
  }


  @media(max-width: 640px) {
    .container {
      min-height: 2430px;
    }

    .container-2 {
      margin-top: -15%;
    }
    
  }

  @media(max-width: 640px) {
    .container {
      min-height: 2300px;
    }

    
  }


  @media(max-width: 535px) {
    .container {
      min-height: 2100px;
    }
  }

  @media (max-width: 460px) {
    .container {
      min-height: 1900px;
    }
  }

  @media (max-width: 430px) {
    .container {
      min-height: 1600px;
    }

  }